@import "../../assets/styles/variables";

.title:hover {
  cursor : default;
}

.form-wrapper {
  width: 100vw;
  height: 100vh;
  background: url('https://monitor-assistant.com/images/auth_background.jpg') no-repeat center center/cover;
  > h1 {
    position: relative;
    font: {
      size: $default-font-size * 1.6;
    }
    padding: 10px;
    z-index: 3;
    color: $color-white;
  }
  > .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
  }
}

.form {
  &__auth {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    min-height: 400px;
    text-align: center;
    background: $color-white;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
    z-index: 2;
    > header {
      text-align: center;
      font: {
        size: $default-font-size * 1.4;
      }
      margin: {
        top: 30px;
        bottom: 20px;
      }
    }

    > .form__item_wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
      margin: {
        bottom: 30px;
      }
      > .form__item {
        text-align: left;
        width: 100%;
        margin: {
          bottom: 10px;
        }
        > .error {
          color : red;
        }
        [type="name"],
        [type="email"],
        [type="password"] {
          display: block;
          width: 100%;
          font: {
            size: $default-font-size * 1.4;
          }
          padding: 10px;
          border: 2px soild black;
          border-radius: 3px;
          margin: {
            bottom: 10px;
          }
          box-sizing: border-box;
        }
        [type="submit"] {
          display: block;
          font: {
            size: $default-font-size * 1.4;
          }
          color: $color-white;
          background: blueviolet;
          border: none;
          border-radius: 3px;
          width: 100%;
          box-sizing: border-box;
          padding: 10px 0;
          text-align: center;
          transition: 0.2s all ease;
          &:hover {
            cursor: pointer;
            background: rgba(137, 43, 226, 0.74);
          }
        }
      }
      > .info {
        > .btn {
          color : rgb(202, 26, 179);
          font-weight: bold;
          text-decoration: none;
          font{
            size: $default-font-size * 1.1;
          }
          margin-right: 3px;
        }
      }
    }
  }
}

.footer__auth {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  color: $color-white;
}