.form-wrapper {
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    &__auth {
      width: 500px;
      height: 500px;
      text-align: center;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
      > header {
        text-align: center;
        font: {
          size: 200%;
          weight: 700;
        }
        margin: {
          top: 30px;
          bottom: 20px;
        }
      }
  
      > .form__item_wrapper {
        > .form__item {
          text-align: left;
          width: 100%;
          margin: {
            bottom: 10px;
            left: 10px;
          }
          [type="email"],
          [type="password"] {
            display: block;
            width: 91%;
            font: {
              size: 140%;
            }
            padding: 10px;
            border: 1px soild rgba(189, 104, 104, 0.87);
            border-radius: 3px;
            margin: {
              bottom: 10px;
            }
          }
          [type="submit"] {
            display: block;
            font: {
              size: 140%;
              weight: 700;
            }
            color: #fff;
            background: blueviolet;
            border: none;
            border-radius: 3px;
            width: 91%;
            padding: 10px 0;
            text-align: center;
            margin: {
              top: 10px;
              left: 13px;
              bottom: 10px;
            }
            transition: 0.2s all ease;
            &:hover {
              cursor: pointer;
              background: dimgray;
            }
          }
        }
      }
    }
  }
  