@import "../../assets/styles/variables";

.section__error {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100000001;
    background: $color-white;
    > h1 {
        font: {
            size: $default-font-size * 5;
        }
    }
    > p {
        font: {
            size: $default-font-size * 2;
        }  
    }
}