.section__error {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100000001;
    background: #fff;
    > h1 {
        font: {
            size: 500%;
            weight: 700;
        }
    }
    > p {
        font: {
            size: 120%;
        }  
    }
}