@import "../../assets/styles/variables";

.section__intelligence_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

article.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: $color-white;
    padding: 10px 0 0 0;
    overflow: hidden;
    box-shadow: $box-shadow-lv1;
    transition: $transition-lv1;
    &:hover {
        box-shadow: $box-shadow-lv2;
    }
    > .content {
        height: 100%;
        padding: 0 10px 0 10px;
        > header {
            font: {
                family: $font-bold;
                size: $default-font-size * 1.6;
            }
        }
        > p {
            min-height: 100px;
        }
    }
    > footer {
        > p {
            padding: 0 10px;
        }
        > .footer__prefs {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 10px;
            > .button {
                display: inline-block;
                width: 30%;
                font: {
                    family: $font-semibold;
                    size: $default-font-size * .9;
                }
                text: {
                    align: center;
                    decoration: none;
                }
                align-items: center;
                color: $color-white;
                padding: 5px 0;
                margin: {
                    right: 10px;
                }
                border: none;
                border-radius: 20px;
                &__warning {
                    background: $color-warning-2;
                    &:hover {
                        background: $color-error;
                    }
                }
                &__info {
                    background: $color-confirm-5;
                    &:hover {
                        background: $color-confirm-2;
                    }
                }
                &__cursor__pointer {
                    cursor: pointer;
                }
            }
        }
        border-radius: 0 0 10px 10px;
    }
}