.section-intelligence__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

article.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #fff;
    padding: 10px 0 0 0;
    overflow: hidden;
    box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
    > .content {
        height: 100%;
        padding: 0 10px 0 10px;
        > header {
            font: {
                size: 160%;
            }
        }
        > p {
            min-height: 100px;
        }
    }
    > footer {
        > p {
            text-align: center;
        }
        > .footer__prefs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            > .button {
                display: inline-block;
                width: 100%;
                text-align: center;
                align-items: center;
                color: #fff;
                padding: 5px 0;
                font: {
                    weight: 700;
                }
                text-decoration: none;
                &__warning {
                    background: linear-gradient(60deg, #ef5350, #e53935);
                }
                &__info {
                    background: linear-gradient(60deg, #ffa726, #fb8c00);
                }
                &__cursor__pointer {
                    cursor: pointer;
                }
            }
        }
        border-radius: 0 0 10px 10px;
    }
}