@import "../../assets/styles/variables";

header {
    > h2 {
        font: {
            family: $font-text;
            size: $default-font-size * 1.6;
        }
        line-height: 1.6;
    }
    > p {
        font: {
            family: $font-extralight;
        }
        margin: {
            bottom: 20px;
        }
        opacity: .6;
    }
}