@import "../../assets/styles/variables";

header {
    > h2 {
        font: {
            size: $default-font-size * 1.6;
        }
        line-height: 1.6;
    }
    > p {
        margin: {
            bottom: 20px;
        }
        opacity: .6;
    }
}