.form-wrapper {
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    &__auth {
        width: 500px;
        height: 500px;
        text-align: center;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 5px 5px rgba(0,0,0,.12);
        > header {
            font: {
                size: 200%;
                weight: 700;
            }
            margin: {
                bottom: 20px;
            }
        }
        > .form__item_wrapper {
            > .form__item {
                width: 100%;
                margin: {
                    bottom: 10px;
                }
                [type="email"],
                [type="password"] {
                    display: block;
                    width: 100%;
                    font: {
                        size: 160%;
                    }
                    padding: 10px;
                    border: none;
                    box-shadow: 0 5px 5px rgba(0,0,0,.12);
                    background: #e3e3e3;
                    margin: {
                        bottom: 10px;
                    }
                }
                [type="submit"] {
                    display: block;
                    font: {
                        size: 140%;
                        weight: 700;
                    }
                    color: #fff;
                    background: blueviolet;
                    border: none;
                    width: 90%;
                    padding: 10px 0;
                    margin: {
                        top: 20px;
                        left: auto;
                        right: auto;
                    }
                    transition: .2s all ease;
                    &:hover {
                        cursor: pointer;
                        background: dimgray;
                    }
                }
            }
        }
    }
}