@import "../../assets/styles/variables";

// Footer
.footer__service {
    grid-area: footer;
    color: $color-white;
    background: {
        color: $color-footer;
    }
    line-height: 1;
    & .container {
        padding: {
            top: 18px;
            bottom: 22px;
        }
    }
    & .pull-left {
        float: left !important;
        > .symbol {
            float: left;
            width: 65px;
            height: 91px;
            margin-right: 35px;
            background: url(https://www.police.go.kr/resources/common/images/footer_symbol.png) no-repeat 0 0;
            text-indent: -9999px;
        }
        & .notice {
            margin: {
                top: 50px;
            }
        }
        & #footer__ {
            &title {
                font: {
                    size: $default-font-size * 1.3;
                }
            }
            &creator {
                font: {
                    size: $default-font-size * 0.8;
                }
            }
        }
    }
    & .pull-right {
        float: right !important;
    }
}