// Aside
aside {
    min-height: 700px;
    width: 50px;
    max-width: 50px;
    margin: 0;
    overflow: hidden;
    background: {
        color: #fff;
    }
    > nav {
        & .nav-icon.active {
            color: #fff;
            background: {
                color: #3b414d;
            }
        }
        > .nav__home {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            text-indent: -9999px;
            background: url('../../assets/images/logo.png') no-repeat center center/50%;
        }
        > ul {
            > li {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                > a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                }
                &:hover {
                    cursor: pointer;
                    background: {
                        color: #3b414d;
                    }
                    transition: .2s all ease-out;
                    > a {
                        color: #fff;
                    }
                }
            }
        }
    }
    box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
}