@import "variables";
@import "mixin";

// Media
@media (min-width: $content-min-width) {
    .container {
        width: $content-min-width;
    }
}

@media (max-width: 480px) {
    .form-wrapper {
        > h1 {
            padding: 20px 10px;
            font: {
                size: $default-font-size;
            }
            > img {
                width: 30px;
            }
        }
        > h2 {
            display: none;
        }
        > .form {
            max-height: 80vmax;
            overflow-y: scroll;
        }
    }

    .swal2-modal[role="dialog"] {
        width: 100vw;
        & #swal2-title {
            > header {
                font: {
                    size: $default-font-size * 1.4;
                }
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 720px) {
    main {
        display: block !important;
        & aside {
            & nav {
                & ul {
                    display: inherit;
                }
            }
        }
        > .content {
            width: 100vw !important;
        }
    }

    .section__intelligence_list {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        &__service {
            & .container {
                min-width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                & [class*="pull-"]{
                    position: relative;
                    float: none !important;
                    text-align: center;
                    margin: {
                        bottom: 15px;
                    }
                    > .symbol {
                        position: relative;
                        float: none !important;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: {
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .swal2-modal[role="dialog"] {
        width: 90vw;
    }
}