@import "variables";
@import "mixin";

// Media
@media (min-width: $content-min-width) {
    .container {
        width: $content-min-width;
    }
}

@media (max-width: 480px) {
    .form-wrapper {
        > h1 {
            padding: 20px 10px;
            font: {
                size: $default-font-size;
            }
            > img {
                width: 30px;
            }
        }
        > h2 {
            display: none;
        }
        > .form {
            max-height: 80vmax;
            overflow-y: scroll;
        }
    }
}

@media (max-width: 720px) {
    main {
        display: block;
    }

    .section__intelligence_list {
        grid-template-columns: repeat(1, 1fr);
    }
}