// Common Style Setup
@import "reset";
@import "variables";
@import "fonts";
@import "media";
@import "mixin";

html {
    font: {
        family: $font-text;
        weight: normal;
        style: normal;
    }
    @include font-size($font-sizes);
    overflow: {
        x: hidden;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $font-bold;
        weight: normal !important;
    }
}

small {
    font: {
        family: $font-extralight;
        size: $default-font-size * .6;
    }
}

button {
    font: {
        family: $font-text;
    }
}

body {
    -ms-overflow-style: none;
    line-height: 1.6;
}

::-webkit-scrollbar {
    display: none;
}

.row {
    margin: 0 auto;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.container {
    min-width: $content-min-width;
    padding: {
        left: 0;
        right: 0;
    }
    margin: 0 auto;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.divider {
    margin: {
        top: 25px;
        bottom: 25px;
    }
}

button {
    border: none;
    background: none;
}

main {
    position: relative;
    display: flex;
    min-height: 1000px;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
    > .content {
        width: calc(100vw - 50px);
        min-height: $content-min-height;
        padding: 15px;
        background: {
            color: $color-main;
        }
        box-sizing: border-box;
    }
}

table {
    width: 100%;
    background: {
        color: $color-white;
    }
    > thead {
        font: {
            size: $default-font-size * 1.4;
        }
        > tr {
            > td {
                padding: 10px 0;
            }
        }
        text-align: center;
    }
    > tbody {
        > tr {
            transition: .2s all ease;
            > td {
                padding: 8px 0;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                    text-align: center;
                }
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.05, 1.05);
                box-shadow: $box-shadow-lv2;
            }
        }
    }
}

.swal2-container.swal2-backdrop-show {
    background: rgba(0,0,0,.8);
}

.swal2-modal[role="dialog"] {
    min-width: 50vw;
}

.swal2-html-container {
    max-height: 80vh;
    overflow: {
        x: hidden;
        y: scroll;
    }
    & img {
        width: 100%;
        height: auto;
    }
}