// Common Style Setup
@import "variables";
@import "reset";
@import "fonts";

html {
    font: {
        family: 'IBMPlexSansKR-Text';
        weight: normal;
        style: normal;
        size: $default-font-size;
    }
    overflow: {
        x: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: "IBMPlexSansKR-Bold";
    }
}

body {
    line-height: 1.6;
}

.row {
    margin: 0 auto;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.container {
    min-width: $content-min-width;
    padding: {
        left: 0;
        right: 0;
    }
    margin: 0 auto;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.divider {
    margin: {
        top: 25px;
        bottom: 25px;
    }
}

main {
    position: relative;
    display: flex;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
    > .content {
        width: calc(100vw - 50px);
        min-height: $content-min-height;
        padding: 15px;
        background: {
            color: #e3e3e3;
        }
    }
}

// Monitor -- Form
form.search {
    display: flex;
    margin: {
        bottom: 50px;
    }
    > [type="text"] {
        width: 100%;
        font: {
            family: 'IBMPlexSansKR-Regular';
            size: 200%;
        }
        outline: none;
        border: {
            style: none;
            radius: 50px;
        }
        padding: 20px 30px;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);;
        &::placeholder {
            opacity: .6;
        }
        margin: {
            right: 10px;
        }
    }
    > button {
        min-width: 80px;
        height: 80px;
        background: {
            color: $color-white;
        };
        border: {
            style: none;
            radius: 50%;
        }
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);;
        font: {
            size: 160%;
        }
        &:hover {
            background: {
                color: rgb(0, 110, 197);
            }
            cursor: pointer;
            color: $color-white;
            transition: .2s all ease;
        }
    }
}

.monitor__site_nav {
    margin: {
        bottom: 20px;
    }
    background: {
        color: #f7765f;
    }
    & ul {
        > li {
            display: inline-block;
            padding: 10px;
            > a {
                color: $color-white;
                display: inherit;
                padding: 8px 5px;
                &:hover {
                    background: {
                        color: $color-white;
                    }
                    color: #f7765f;
                }
            }
        }
    }
}

table {
    width: 100%;
    background: {
        color: $color-white;
    }
    > thead {
        font: {
            size: 120%;
        }
        > tr {
            > td {
                padding: 10px 0;
            }
        }
        text-align: center;
    }
    > tbody {
        > tr {
            transition: .2s all ease;
            > td {
                padding: 8px 0;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                    text-align: center;
                }
            }
            &:hover {
                cursor: pointer;
                transform: translate3d(0, -5px, -5px);
            }
        }
    }
}

// Media
@media (min-width: $content-min-width) {
    .container {
        width: $content-min-width;
    }
}

@media (max-width: 720px) {
    main {
        display: block;
    }

    .section-intelligence__list {
        grid-template-columns: repeat(1, 1fr);
    }
}