// Common Style Setup
@import "reset";
@import "variables";
@import "fonts";
@import "media";
@import "mixin";

html {
    font: {
        family: $font-text;
        weight: normal;
        style: normal;
    }
    @include font-size($font-sizes);
    overflow: {
        x: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $font-bold;
        weight: normal !important;
    }
}

small {
    font: {
        family: $font-extralight;
        size: $default-font-size * .6;
    }
}

body {
    line-height: 1.6;
}

.row {
    margin: 0 auto;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.container {
    min-width: $content-min-width;
    padding: {
        left: 0;
        right: 0;
    }
    margin: 0 auto;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.divider {
    margin: {
        top: 25px;
        bottom: 25px;
    }
}

button {
    border: none;
    background: none;
}

main {
    position: relative;
    display: flex;
    min-height: 1000px;
    &::before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
    > .content {
        width: calc(100vw - 50px);
        min-height: $content-min-height;
        padding: 15px;
        background: {
            color: $color-main;
        }
    }
}

table {
    width: 100%;
    background: {
        color: $color-white;
    }
    > thead {
        font: {
            size: $default-font-size * 1.4;
        }
        > tr {
            > td {
                padding: 10px 0;
            }
        }
        text-align: center;
    }
    > tbody {
        > tr {
            transition: .2s all ease;
            > td {
                padding: 8px 0;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                    text-align: center;
                }
            }
            &:hover {
                cursor: pointer;
                transform: translate3d(0, -5px, -5px);
            }
        }
    }
}
